{% extends 'board/base.html' %}

{% block content %}
<legend class="col-12">Informacje o firmie</legend>
<div class="container-fluid">
    <div class="row">
        <div class="card col-4" >
            <div class="card-body">
                <h5 class="card-title">Aktualizowanie danych</h5>
                <p class="card-text">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'companies/company_base_form.html' %}
                        <button type="submit" class="btn btn-info"><i class="far fa-edit"></i> Aktualizuj dane</button>
                        <a href="{% url 'companies:upload' company.id %}" class="btn btn-info"><i class="far fa-edit"></i> Dodaj plik</a>
                    </form>
                </p>
            </div>
        </div>

        <div class="card col-4" >
            <div class="card-body">
                <h5 class="card-title">Pracownicy</h5>
                <p class="card-text">
                    {% for employee in employee_list %}
                        <p>{{ employee.imie }} {{ employee.nazwisko }}</p>
                    {% endfor%}
                </p>
            </div>
        </div>

        <div class="card col-4" >
            <div class="card-body">
                <h5 class="card-title">Dodane pliki</h5>
                <p class="card-text">
                    <h5>test</h5>
                </p>
            </div>
        </div>

    </div>
</div>





{% endblock%}