{% extends 'board/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<legend class="col-12">Informacje o firmie</legend>
<div class="container-fluid">
    <div class="row">
        <div class="card col-4" >
            <div class="card-body">
                <h5 class="card-title">Aktualizowanie danych</h5>
                <p class="card-text">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'companies/company_base_form.html' %}
                        <button type="submit" name="update-data" class="btn btn-info"><i class="far fa-edit"></i> Aktualizuj dane</button>
                    </form>
                </p>
            </div>
        </div>

        <div class="card col-4" >
            <div class="card-body">
                <h5 class="card-title">Pracownicy</h5>
                <p class="card-text">
                    {% for employee in employee_list %}
                        <p>{{ employee.imie }} {{ employee.nazwisko }}</p>
                    {% endfor%}
                </p>
            </div>
        </div>

        <div class="card col-4" >
            <div class="card-body">
                <h5 class="card-title">Dodane pliki</h5>
                <p class="card-text">
                    <div class="table-responsive">
                        <table class="table table-striped borderless text-center">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"> nazwa </th>
                                    <th scope="col"> data dodania </th>
                                </tr>
                            </thead>
                                <tbody>
                                {% for file in file_list %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td><a href="{{ file.plik }}">{{ file }}</a></td>
                                        <td>{{ file.data_dodania  }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </p>
                <p>
                    {% include 'companies/progress_bar.html' %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input
                                id="fileupload"
                                type="file"
                                name="document"
                                multiple
                                style="display: none;"
                                data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

                        <button type="button" name="add-files" class="btn btn-info js-upload-photos"><i class="far fa-edit"></i> Dodaj pliki </button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>





{% endblock%}