{% extends 'board/base.html' %}

{% block content %}
    <legend class="col-12">Aktualizowanie danych firmy</legend>
    <p></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'companies/company_base_form.html' %}
        <button type="submit" class="btn btn-info"><i class="far fa-edit"></i> Aktualizuj dane</button>
        <a href="{% url 'clients:delete' client.id %}" class="btn btn-secondary"><i class="far fa-trash-alt"></i> Usuń </a>
    </form>
{% endblock%}