<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEDIKAP</title>
{% load static %}
{% load inbox_tags%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/35c7ba605c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="{% static 'board/base.css' %}">

</head>
<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav id="navbar-wrapper">
        <div class="navbar navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <a href="#" class="navbar-elements" id="menu-toggle"><i class="fas fa-bars"></i></a>
            </button>
            <div class="text-right">
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'board:summary' %}"><i class="fas fa-home"></i> podsumowanie </a></button>
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'clients:list' %}"><i class="far fa-list-alt"></i> lista klientów </a></button>
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'invoices:list' %}"><i class="fas fa-search-dollar"></i> spis faktur </a></button>
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'companies:list' %}"><i class="far fa-address-book"></i> baza firm </a></button>
                <button class="btn btn-light" type="button">
                    <a class="navbar-elements" href="{% url 'msg:inbox' %}">
                        <i class="fas fa-inbox"></i>
                        skrzynka odbiorcza
                        {% unread_msg_counter as unread_msg_counter_flag %}
                        {% if unread_msg_counter_flag != 0 %}
                        <span class="badge badge-pill badge-danger">{% unread_msg_counter %} </span>
                        {% endif %}
                    </a>
                </button>
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> wyloguj</a></button>
            </div>

        </div>
    </nav>

    <!-- SIDEBAR -->
        <nav id="sidebar-wrapper">
            <div class="text-center">
                <p></p>
              <img class="rounded-circle account-img" src="{{ user.profile.profile_image.url }}">
              <div class="credentials">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
              </div>
            </div>
            <ul class="sidebar-nav">
                <li><a class="" href="{% url 'clients:new' %}"><i class="far fa-plus-square"></i> Dodaj klienta</a></li>
                <li><a class="" href="{% url 'companies:new' %}"><i class="far fa-plus-square"></i> Dodaj firmę</a></li>
                <li><a class="" href="{% url 'msg:new' %}"><i class="far fa-envelope"></i> Wyślij wiadomość</a></li>
                <li><a class="" href="{% url 'invoices:new' %}"><i class="fas fa-file-invoice-dollar"></i> Przygotuj fakturę</a></li>
            </ul>
            <div class="text-center">
                <a href="#" class="btn btn-info"><i class="fas fa-sign-out-alt"></i> Wyloguj</a>
            </div>
            <div class="media logo">
                <img src="{% static 'board/logo.png'%}" alt="logo">
            </div>
        </nav>

    <!-- CONTENT -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
</div>

<script>
    $("#menu-toggle").click( function (e){
      e.preventDefault();
      $("#wrapper").toggleClass("menuDisplayed");
    });
</script>

<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD'
        });
    });
</script>

</body>
</html>