<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEDIKAP</title>
{% load static %}
{% load inbox_tags %}

<!-- Bootstrap-table plugin stylesheet -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">

<!-- Bootstrap stylesheet -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- My custom stylesheet -->
<link rel="stylesheet" href="{% static 'board/base.css' %}">

</head>

<body>
<div id="wrapper">
    <!-- NAVBAR -->
    <nav id="navbar-wrapper">
        <div class="navbar navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <a href="#" class="navbar-elements" id="menu-toggle"><i class="fas fa-bars"></i></a>
            </button>
            <div class="text-right">
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'board:summary' %}"><i class="fas fa-home"></i> podsumowanie </a></button>
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'clients:list' %}"><i class="far fa-list-alt"></i> lista klientów </a></button>
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'invoices:list' %}"><i class="fas fa-search-dollar"></i> spis faktur </a></button>
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'companies:list' %}"><i class="far fa-address-book"></i> baza firm </a></button>
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'services:list' %}"><i class="fas fa-toolbox"></i> usługi </a></button>
                <button class="btn btn-light" type="button">
                    <a class="navbar-elements" href="{% url 'msg:inbox' %}">
                        <i class="fas fa-inbox"></i>
                        skrzynka odbiorcza
                        {% unread_msg_counter as unread_msg_counter_flag %}
                        {% if unread_msg_counter_flag != 0 %}
                            <span class="badge badge-pill badge-danger">{% unread_msg_counter %} </span>
                        {% endif %}
                    </a>
                </button>
                <button class="btn btn-light" type="button"><a class="navbar-elements" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> wyloguj</a></button>
            </div>

        </div>
    </nav>

    <!-- SIDEBAR -->
        <nav id="sidebar-wrapper">
            <div class="text-center">
                <p></p>
              <img class="rounded-circle account-img" src="{{ user.profile.profile_image.url }}">
              <div class="credentials">
                <p>{{ user.first_name }} {{ user.last_name }}</p>
              </div>
            </div>
            <ul class="sidebar-nav">
                <li> <i class="far fa-plus-square"></i> Dodaj:
                    <ul>
                        <li><a class="" href="{% url 'clients:new' %}"><i class="fas fa-caret-right"></i> klienta</a></li>
                        <li><a class="" href="{% url 'companies:new' %}"><i class="fas fa-caret-right"></i> firmę</a></li>
                        <li><a class="" href="{% url 'services:new' %}"><i class="fas fa-caret-right"></i> usługę</a></li>
                    </ul>
                </li>
                <li><a class="" href="{% url 'msg:new' %}"><i class="far fa-envelope"></i> Wyślij wiadomość</a></li>
                <li><a class="" href="{% url 'invoices:new' %}"><i class="fas fa-file-invoice-dollar"></i> Przygotuj fakturę</a></li>
            </ul>
            <div class="text-center">
                <a href="{% url 'logout' %}" class="btn btn-info"><i class="fas fa-sign-out-alt"></i> Wyloguj</a>
            </div>
            <div class="media logo">
                <img src="{% static 'board/logo.png' %}" alt="logo">
            </div>
        </nav>

    <!-- CONTENT -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% for message in messages %}
                            {% if 'error' in message.tags %}
                                <div class="alert alert-danger">
                                    <a class="close" href="#" data-dismiss="alert">×</a>
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Bootstrap-table plugin -->
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

<!-- polish localization for Bootstrap-table plugin-->
<script src="{% static 'board/bootstrap-table-pl.js' %}"></script>

<!-- Font Awesome Kit -->
<script src="https://kit.fontawesome.com/35c7ba605c.js" crossorigin="anonymous"></script>



<script>
  $(function() {
    $('#invoices-list').bootstrapTable()
    $('#services-list').bootstrapTable()
    $('#clients-list').bootstrapTable()
    $('#companies-list').bootstrapTable()
});
</script>

<script>
    $("#menu-toggle").click( function (e){
      e.preventDefault();
      $("#wrapper").toggleClass("menuDisplayed");
    });
</script>

<script type="text/javascript">
function validateForm() {
    var elements = document.querySelectorAll("[name^=uslugi]")
    var checkboxes = document.querySelectorAll('input[name="uslugi"]:checked');
    var invoicePerson = validateFormDetail()

    if (invoicePerson != true) {
        return false
    }

    if (checkboxes.length == 0) {
        alert("Musisz wybrać usługi, które chcesz dodać do faktury!");
        return false;
    }

    for (var i=0; i<checkboxes.length; i++) {
        var value = checkboxes[i].id.slice(10,);
        console.log(value)
        var element = document.getElementById('quantity-'+value);
        if (element.value == "" || isNaN(element.value) || !element.value.replace(/\s/g, '').length || element.value == '0')
            {
            alert("Jeżeli usługa została wybrana to należy wpisać jej ilość, która będzie większa niż 0");
            return false;
            }
    }
    return true;
}
</script>

<script type="text/javascript">
    function validateFormDetail() {
    var rbfirma = document.getElementById("rb-firma").checked
    var rbosoba = document.getElementById("rb-osoba-prywatna").checked
    var selectfirma = document.getElementById("id_firma").selectedIndex
    var selectosoba = document.getElementById("id_osoba_prywatna").selectedIndex
    console.log(selectfirma);
    console.log(selectosoba);

     if ((rbfirma == true) && (selectfirma == 0 ))  {
        alert("Zaznaczono, że faktura ma być wystawiona na firmę, jednak nie wybrano firmy z listy");
        return false;
    } else if ((rbfirma == false) && (rbosoba == false)) {
        alert("Nie wybrano na kogo ma zostać wystawiona faktura");
        return false;
    } else if ((rbosoba == true) && (selectosoba == 0)) {
        alert("Zaznaczono, że faktura ma być wystawiona na osobę prywatną, jednak nie wybrano żadnej osoby z listy");
        return false;
    } else {
    console.log('4')
        return true;
    }
    }
</script>

<script>
$('input[type="checkbox"]').click(function(){

            var value = this.id.slice(10,);
            var element = document.getElementById('quantity-'+value);
            var label = document.getElementById('label-'+value);
            var discount = document.getElementById('discount-'+value);
            var lbl_discount = document.getElementById('lbl-discount-'+value);
            var lbl_quantity = document.getElementById('lbl-quantity-'+value);


            if($(this).is(":checked")){
                $(element).addClass("show-me");
                $(element).removeClass("hide-me");
                $(label).addClass("show-me");
                $(label).removeClass("hide-me");
                $(discount).addClass("show-me");
                $(discount).removeClass("hide-me");
                $(lbl_discount).addClass("show-me");
                $(lbl_discount).removeClass("hide-me");
                $(lbl_quantity).addClass("show-me");
                $(lbl_quantity).removeClass("hide-me");
            }

            else if($(this).is(":not(:checked)")){
                $(element).addClass("hide-me");
                $(element).removeClass("show-me");
                $(label).addClass("hide-me");
                $(label).removeClass("show-me");
                $(discount).addClass("hide-me");
                $(discount).removeClass("show-me");
                $(lbl_discount).addClass("hide-me");
                $(lbl_discount).removeClass("show-me");
                $(lbl_quantity).addClass("hide-me");
                $(lbl_quantity).removeClass("show-me");
            }
        });
</script>

<script>
$( document ).ready(function() {
    $('[data-toggle="popover"]').popover();
});
</script>

<script>
$( document ).ready(function() {
    $('[data-toggle="tooltip"]').tooltip()
});
</script>

<script>
    $( document ).ready(function() {
        var height = $('#page-content-wrapper').height();
        var window_height = $(window).height();
        if(height < window_height) {
             $('#sidebar-wrapper').height(window_height-54);
        }
        else{
            $('#sidebar-wrapper').height(height);
        }
    });
</script>



<script type="text/javascript">
    function clearRBfirma() {
        document.getElementById("id_firma").selectedIndex = 0;
    }
</script>

<script type="text/javascript">
    function clearRBosoba() {
        document.getElementById("id_osoba_prywatna").selectedIndex = 0;
    }
</script>

<script>
function validateFile() {
    var validated = true;

    if ($('#add-files-form')[0][1].files.length === 0) {
        alert("Nie wybrano żadnego pliku!");
        validated = false;
        return false;
    } else {
        validated = true;
    }

    if (validated == true) {
        event.preventDefault();
            $('#progress-bar-div').removeClass("hide-me");
            var formData = new FormData($('#add-files-form')[0]);

            $.ajax({
                xhr : function() {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener('progress', function(e) {
                        if (e.lengthComputable) {
                            var percentageValue = Math.round((e.loaded / e.total) * 100);
                            $('#progress-bar').attr('aria-valuenow', percentageValue).css('width', percentageValue + '%').text(percentageValue + '%')
                        }
                    });
                    return xhr;
                },
                type : 'POST',
                data: formData,
                processData : false,
                contentType : false,
                success : function() {
                    $('#progress-bar-div').addClass("hide-me")
                    location.reload(true);
                }
            });
    }


    return true;
}
</script>

</body>
</html>