{% extends 'board/base.html' %}
{% block content %}
<legend class="col-12">Podsumowanie</legend>
<div class="container-fluid">
    <div class="row">
        <div class="card col-xl-4 col-lg-12 col-md-12" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ostatnio dodani klienci</h5>
                    <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-striped borderless text-center ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">imie i nazwisko</th>
                                        <th scope="col">email</th>
                                        <th scope="col">telefon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in last_clients %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ client.imie }} {{ client.nazwisko }} </td>
                                            <td>{{ client.email|default_if_none:"-" }} </td>
                                            <td>{{ client.numer_telefonu|default_if_none:"-" }} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </p>
                <a href="{% url 'clients:list' %}" class="card-link">Zobacz więcej...</a>
            </div>
        </div>

        <div class="card col-xl-4 col-lg-12 col-md-12" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ostatnio dodane firmy</h5>
                <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-striped borderless text-center ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">nazwa</th>
                                        <th scope="col">miasto</th>
                                        <th scope="col">NIP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for company in last_companies %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ company.nazwa|default_if_none:"-" }}</td>
                                            <td>{{ company.miasto|default_if_none:"-" }} </td>
                                            <td>{{ company.nip|default_if_none:"-" }} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </p>
                <a href="{% url 'companies:list' %}" class="card-link">Zobacz więcej...</a>
            </div>
        </div>

        <div class="card col-xl-4 col-lg-12 col-md-12" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Ostatnio utworzone faktury</h5>
                <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-striped borderless text-center ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">numer</th>
                                        <th scope="col">nabywca</th>
                                        <th scope="col">data wystawienia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invoice in last_invoices %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ invoice.numer|default_if_none:"-" }}</td>
                                            {% if invoice.firma != None%}
                                                <td>{{ invoice.firma }}</td>
                                            {% else %}
                                                <td>{{ invoice.osoba_prywatna }}</td>
                                            {% endif %}
                                            <td>{{ invoice.data_wystawienia_faktury|default_if_none:"-" }} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </p>
                <a href="{% url 'invoices:list' %}" class="card-link">Zobacz więcej...</a>
            </div>
        </div>

    </div>
</div>
{% endblock content %}