{% extends 'board/base.html' %}

{% block content %}
{% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
{% endfor %}
<h2>Usługi</h2>
<div class="table-responsive">
    <table class="table table-striped borderless text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                {% for field in form %}
                <th scope="col">{{ field.label_tag }} </th>
                {% endfor %}
                <th scope="col"> akcja </th>
            </tr>
        </thead>
            <tbody>
            {% for service in all_services %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ service.nazwa }}</td>
                    <td>{{ service.cena | floatformat:2 }}</td>
                    <td>
                        <form method="post" action="{% url 'services:delete_service' service.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="table-button"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
</div>
{% endblock %}