{% extends 'board/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
{% endfor %}
<legend class="col-12">Szczegóły faktury nr: {{ invoice.numer }}</legend>
<div class="container-fluid">
    <div class="row">
        <div class="card col-xl-6 col-lg-12 col-md-12 mb-3" >
            <div class="card-body">
                <h5 class="card-title">Podgląd faktury</h5>
                <p class="card-text">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'invoices/invoice-preview.html' %}
                        <button type="submit" name="view-pdf" class="btn btn-info">Wyświetl jako PDF</button>
                        <button type="submit" name="download-pdf" class="btn btn-info">Pobierz jako PDF</button>
                        <a href="{% url 'invoices:delete' invoice.id %}" class="btn btn-secondary"><i class="far fa-trash-alt"></i> Usuń </a>
                    </form>
                </p>
            </div>
        </div>

        <div class="card col-xl-6 col-lg-12 col-md-12 mb-3" >
            <div class="card-body">
                <h5 class="card-title">Aktualizowanie danych</h5>
                <p class="card-text">
                    <form method="post" enctype="multipart/form-data" onsubmit="return validateFormDetail()">
                        {% csrf_token %}
                        {% include 'invoices/invoice_detail_form.html' %}
                        <br>
                        <button type="submit" name="update-data" class="btn btn-info"><i class="far fa-edit"></i> Aktualizuj dane</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}