{% load crispy_forms_tags %}
{% load invoices.serviceItemTag %}

    <fieldset>
        <div class="form-row">
            <div class="col-lg-12">
                {{ form.numer | as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-12">
                {{ form.firma | as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-3">
                {{ form.forma_platnosci | as_crispy_field}}
            </div>
            <div class="col-lg-3">
                {{ form.data_badania | as_crispy_field}}
            </div>
            <div class="col-lg-3">
                {{ form.data_wystawienia_faktury | as_crispy_field}}
            </div>
            <div class="col-lg-3">
                {{ form.rabat | as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6 ">
                {% for field in form.uslugi %}
                    <div>{{ field }}</div>
                {% endfor %}
                {% for service in services_items %}
                    <div>
                        <label>{{ service.usluga.nazwa }}</label>
                        <input class="form-control" data-toggle="tooltip" title="wprowadź ilość" type="text" name='quantity-{{ service.id }}' value="{{ service.ilosc }}" >
                    </div>
                {% endfor %}
            </div>
        </div>

    </fieldset>
