{% extends 'board/base.html' %}

{% block content %}
{% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
{% endfor %}
<h2>Spis faktur</h2>
<div class="table-responsive">
    <table id="invoices-list" class="table table-striped borderless text-center" data-search="true" data-show-multi-sort="true" data-show-columns="true">
        <thead class="thead-dark">
            <tr>
                <th scope="col" data-sortable="true">#</th>
                {% for field in form %}
                <th scope="col" data-sortable="true"> {{ field.label_tag }} </th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
            {% for invoice in all_invoices %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'invoices:detail' invoice_id=invoice.id %}">{{ invoice.numer }}</a></td>
                    <td>{{ invoice.firma  }}</td>
                    <td>{{ invoice.get_forma_platnosci_display  }}</td>
                    <td>{{ invoice.data_wystawienia_faktury  }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}