{% load crispy_forms_tags %}
{% load invoices.serviceItemTag %}

    <fieldset>
        <div class="form-row">
            <div class="col-lg-12">
                {{ form.numer | as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-12">
                {{ form.firma | as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-3">
                {{ form.forma_platnosci | as_crispy_field}}
            </div>
            <div class="col-lg-3">
                {{ form.data_badania | as_crispy_field}}
            </div>
            <div class="col-lg-3">
                {{ form.data_wystawienia_faktury | as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6">
                <br>
                <h5>Wybierz usługi:</h5>
                {% for field in form.uslugi %}
                    <div>{{ field }}</div>
                {% endfor %}
                <br>
                <h5>Zmień ilość lub rabat:</h5>
                {% for service in services_items %}
                    <div class="mb-4">
                        <div>
                            <label class="show-me" >{{ service.usluga.nazwa }}</label>
                        </div>
                        <div class="input-group">
                            <label class="input-group-text show-me" id="lbl-quantity-{{ service.id }}">ilość:</label>
                            <input class="form-control show-me mr-3" data-toggle="tooltip" title="wprowadź ilość" type="text"  name='quantity-{{ service.id }}'  value="{{ service.ilosc }}">
                            <label class="input-group-text show-me" id="lbl-discount-{{ service.id }}">rabat [%]:</label>
                            <input class="form-control show-me" data-toggle="tooltip" title="wprowadź rabat" type="text"  name='discount-{{ service.id }}'  value="{{ service.rabat }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <div class="card" style="margin-top:25px;">
                  <div class="card-body">
                    <h5 class="card-title">UWAGA</h5>
                    <p class="card-text">Po dokonaniu zmiany w pozycjach obecnych na fakturze, należy kliknąć:</p>
                    <p class="card-text">"Aktualizuj dane". Wtedy pojawi się odpowiednie pole tekstowe do wpisania ilości.</p>
                  </div>
                </div>
            </div>

        </div>

    </fieldset>
