{% load crispy_forms_tags %}

    <fieldset>
        <div class="form-row">
            <div class="col-lg-12">
                {{ form.numer | as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-12">
                {{ form.firma | as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4">
                {{ form.forma_platnosci | as_crispy_field}}
            </div>
            <div class="col-lg-4">
                {{ form.data_badania | as_crispy_field}}
            </div>
            <div class="col-lg-4">
                {{ form.data_wystawienia_faktury | as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-3">
                {{ form.rabat | as_crispy_field}}
            </div>
            <div class="col-lg-9">
                {{ form.usluga | as_crispy_field}}
            </div>
        </div>
    </fieldset>
