<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEDIKAP - panel logowania</title>
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" href="{% static 'users/login.css' %}">


</head>

<body>
<!--
<div class="container-fluid grnd">
    <div class="row justify-content-center">
        <div class="col-10 col-sm-6 col-xl-3 frm">
            <h2 class="login">Login</h2>
            <form method="post" action="">
                {% csrf_token %}
                {# A more "HTML" way of creating the login form#}
                <p class="login-item"><label for="username">Username</label><br>
                <input type="text" name="username" placeholder="nazwa użytkownika"></p>
                <p class="login-item"><label for="password">Password</label><br>
                <input type="password" name="password" placeholder="hasło"></p>
                <p class="button"><input class="btn btn-info" type="submit" name="Login" value="Login"></p>
            </form>
        </div>
    </div>
</div>
-->
<div class="container-fluid background">
    <div class="row justify-content-center">
        <div class="frm text-center">
            <div>
                <h3>Panel logowania</h3>
            </div>
            <div>
                <img src="{% static 'board/logo.png'%}" alt="logo">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nazwa użytkownika</span>
                </div>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Hasło</span>
                </div>
                <input type="text" class="form-control" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <p class="button"><input class="btn btn-light" type="submit" name="Login" value="Zaloguj"></p>
        </div>
    </div>
</div>
</body>
</html>