{% extends 'board/base.html' %}

{% block content %}
<h2>Skrzynka odbiorcza</h2>
<div class="table-responsive">
    <table class="table table-striped borderless text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                {% for field in form %}
                <th scope="col">{{ field.label_tag }} </th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
            {% for msg in inbox_messages %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
            {% if msg.data_odczytania == None %}
                    <td><a href="{% url 'msg:reply' msg_id=msg.id %}">{{ msg.temat }} <span class="badge badge-pill badge-danger">New</span> </a></td>
            {% else %}
                    <td><a href="{% url 'msg:reply' msg_id=msg.id %}">{{ msg.temat }}</a></td>
            {% endif %}
                    <td>{{ msg.nadawca }}</td>
                    <td>
                        {% if msg.wiadomosc|length > 50 %}
                            {{msg.wiadomosc|truncatechars:50}}
                        {% else %}
                            {{msg.wiadomosc}}
                        {% endif %}
                    </td>
            {% if msg.data_odczytania == None %}
                    <td> nowa wiadomość </td>
            {% else %}
                    <td> {{ msg.data_odczytania }} </td>
            {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>

{% endblock %}