{% extends 'board/base.html' %}

{% block content %}
<h2>Lista klientów</h2>
<div class="table-responsive">
    <table id="clients-list" class="table table-striped borderless text-center" data-search="true" data-show-multi-sort="true" data-show-columns="true">
        <thead class="thead-dark">
            <tr>
                <th scope="col" data-sortable="true">#</th>
                {% for field in form %}
                <th scope="col" data-sortable="true">{{ field.label_tag }} </th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
            {% for client in all_clients %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ client.imie }}</td>
                    <td><a href="{% url 'clients:update' client.id %}">{{ client.nazwisko  }}</a></td>
                    <td>{{ client.numer_telefonu  }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.nr_rejestr }}</td>
                    <td>{{ client.data_badania }}</td>
                    <td>{{ client.data_waznosci_badania }}</td>
                    <td>{{ client.get_podstawa_prawna_display }}</td>
                    {% if client.pracodawca == None %}
                        <td>brak</td>
                    {% else %}
                        <td>{{ client.pracodawca }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}