/* Navbar*/
#navbar-wrapper{
    height: 5%;
}

.navbar-elements{

    text-decoration: none;
    color: #bbb;

    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: -2em;
}

.navbar-elements:hover{
    color: #2c3e50;
    text-decoration: none;
}

.table-button{
    border: none;
    background: none;
    text-decoration: none;
    color: #bbb;
}

.table-button:hover{
    border: none;
    color: #2c3e50;
    text-decoration: none;
}

/* Sidebar */
#sidebar-wrapper{
    width: 0;
    z-index: 1; /* Stay on top */
    position: absolute;
    overflow: hidden; /* ukrywa content jesli content jest za dlugi*/
    background: #2c3e50;
    opacity: 0.9;
}

/* Main content */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Zmiana szerokosci sidebara */
#wrapper.menuDisplayed #sidebar-wrapper{
    width: 250px;
}

/* Zmiana paddingu żeby po wysunieciu sidebara, content nie byl przykryty tylko przesunal sie wraz z sidebarem*/
#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 250px;
}

/* Sidebar styling */
.sidebar-nav{
    padding: 0;
    list-style: none; /* brak punkcikow w listach itp */
}


.sidebar-nav li{
    text-indent: 5px;
    line-height: 40px;
    color: #ddd;
    list-style: none;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}

#sidebar-wrapper ul ul{
    padding-left:20px;
}

#sidebar-wrapper ul ul a{
    line-height: 30px;
}

.sidebar-nav li a:hover{
    background: #16A085;
}

.credentials{
    color: #EBCFB2;
    font-size: 26px;
}

.logo {
    position: absolute;
    bottom: 0;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.form-control-hide{
    display: none;
}

.hide-me{
    display: none;
}

.show-me{
    display: inline-block;
}

.fa-question-circle:hover {
    color: red;
    cursor: pointer;
}


